BasedOnStyle: Google
Language: Cpp
Standard: c++17

IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

NamespaceIndentation: None
IndentCaseLabels: true

IncludeBlocks: Preserve
SortIncludes: true

SpacesBeforeTrailingComments: 1
ReflowComments: false
