Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-use-override,
  modernize-use-nullptr,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-loop-convert,
  readability-container-size-empty,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-simplify-boolean-expr,
  readability-else-after-return,
  readability-non-const-parameter,
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: none
